@font-face {
  font-family: 'BarbaraHand';
  src: url("../fonts/BarbaraHand.ttf") format('truetype');
}
@font-face {
  font-family: 'AppleChancery';
  src: url("../fonts/AppleChancery.ttf") format('truetype');
}
@font-face {
  font-family: 'SimpleScript';
  src: url("../fonts/SimpleScript.ttf") format('truetype');
}
