@import "mixin";

// width 包括内外边距
* { box-sizing: border-box; }

// 通用ul li
ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

// 单行文字省略...
.g-single-ellipse {
  @include single-ellipse;
}
