@import "variable";

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

// 单行文字省略...
@mixin single-ellipse {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

// 阴影
@mixin box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
@mixin box-shadow1 {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
