@import "variable";

// 单行文字省略...
@mixin single-ellipse {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
// 定位
@mixin position($t: unset, $r: unset, $b: unset, $l: unset) {
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

// 阴影
@mixin box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
@mixin box-shadow1 {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
