:root {
  --gl-sidebar-width:250px;
  --gl-sidebar-collapse-width:64px;
  --gl-sidebar-background-color:#fff;

  --gl-headbar-height:50px;
  --gl-headbar-background-color:#fff;

  --gl-tabsbar-height:50px;
  --gl-tabsbar-background-color:#fff;

  --gl-content-background-color:#f1f4f6;
  --gl-content-panel-background-color:#fff;
}
