:root {
  --gl-sidebar-width: 200px;
  --gl-sidebar-background-color: white;

  --gl-headbar-height: 50px;
  --gl-headbar-background-color: white;

  --gl-tabsbar-height: 50px;
  --gl-tabsbar-background-color: white;

  // --gl-menu-background-color: #263238;
}
