// 主色
$brandColor: #409EFF,#53A8FF,#66B1FF,#79BBFF,#8CC5FF,#A0CFFF,#B3D8FF,#C6E2FF,#D9ECFF,#ECF5FF;
// 辅助色
$successColor: #67C23A,#E1F3D8,#F0F9EB;
$warningColor: #E6A23C,#FAECD8,#FDF6EC;
$dangerColor: #F56C6C,#FDE2E2,#FEF0F0;
$infoColor: #909399,#E9E9EB,#F4F4F5;
// 字体色
$fontColor: #303133,#606266,#909399,#C0C4CC;
// 边框色
$borderColor: #DCDFE6,#E4E7ED,#EBEEF5,#F2F6FC;
