$mainColor: #409EFF;
$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;

$fontMainColor: #303133;
$fontNormalColor: #606266;
$fontSecondaryColor: #909399;
$fontSeatColor: #C0C4CC;

$borderColor1: #DCDFE6;
$borderColor2: #E4E7ED;
$borderColor3: #EBEEF5;
$borderColor4: #F2F6FC;

$bgColor: rgba(244, 244, 245, 0.4);
