// 主色
$brandColor: #409EFF;
$brandColor1: #53A8FF;
$brandColor2: #66B1FF;
$brandColor3: #79BBFF;
$brandColor4: #8CC5FF;
$brandColor5: #A0CFFF;
$brandColor6: #B3D8FF;
$brandColor7: #C6E2FF;
$brandColor8: #D9ECFF;
$brandColor9: #ECF5FF;

// 辅助色
$successColor: #67C23A;
$successColor1: #E1F3D8;
$successColor2: #F0F9EB;

$warningColor: #E6A23C;
$warningColor1: #FAECD8;
$warningColor2: #FDF6EC;

$dangerColor: #F56C6C;
$dangerColor1: #FDE2E2;
$dangerColor2: #FEF0F0;

$infoColor: #909399;
$infoColor1: #E9E9EB;
$infoColor2: #F4F4F5;

// 中性色
$fontColor: #303133;
$fontColor1: #606266;
$fontColor2: #909399;
$fontColor3: #C0C4CC;

$borderColor: #DCDFE6;
$borderColor1: #E4E7ED;
$borderColor2: #EBEEF5;
$borderColor3: #F2F6FC;
